<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Thông Tin Sản Phẩm: {{ productId }}</title>
</head>
<body>
  <h2>Thông Tin Sản Phẩm: {{ productId }}</h2>
  {% if events|length > 0 %}
    <ul>
      {% for event in events %}
        <li>
          <strong>Step:</strong> {{ event[4] }} | 
          <strong>Actor:</strong> {{ event[2] }} |
          <strong>Time:</strong> {{ event[7]|int | timestamp_to_string }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Không có sự kiện nào cho sản phẩm này.</p>
  {% endif %}
</body>
</html>
